<h2>Formulario</h2>
<div class="row">
  <form class="row g-3" [formGroup] ="liveForm" (ngSubmit) = "onSubmit" ><!-- #clientForm = "ngForm" -->
      <div class="col-md-6">
        <label for="inputName" class="form-label">Name</label>
        <input  type="text" class="form-control" id="inputName" formControlName = "name">
      </div>

      <div class="col-md-6">
        <label for="inputCpf" class="form-label">Cpf</label>
        <input type="text" class="form-control" id="inputCpf" formControlName = "cpf">
      </div>

      <div class="col-md-6">
        <label for="inputIncome" class="form-label">Income</label>
        <input type="number" placeholder="R$" class="form-control" id="inputIncome" formControlName = "income">
      </div>

      <div class="col-md-4">
        <label for="inputChildren" class="form-label">Children</label>
        <input type="number" class="form-control" id="inputChildren" formControlName = "children">
      </div>

      <div class="col-md-2">
        <label for="inputBirth" class="form-label">BirthDate</label>
        <input type="datetime-local" placeholder="dd/MM/yyyy HH:mm" class="form-control" id="inputBirth" formControlName = "birthDate">
      </div>
      <div class="col-12" style="margin-top: 10px">
        <button type="submit" class="btn btn-primary" (click) = "createClient()">Adicionar</button>
        <button type="submit" class="btn btn-default"(click) = "onCancel()">Limpar</button>
      </div>
  </form>
</div>
  <!-- <div class="form-group row">
    <label class="col-sm-2 col-form-label">Pesquisar pelo nome:</label>

    <div class="col-sm-7">
      <input  class="form-control">[(ngModel)]= "filter"
    </div>

    <div class="col-sm-3">
      <button type="submit" class="btn btn-primary">Novo Cliente</button>
    </div>
  </div> -->

